body {
    background: #e4d3cf;
    margin: auto;
    font-family: verdana;
    width: 900px;
    margin: auto;
}
#title, .subtitle, .postitle {
    color: #e2bcb7
}

.subtitle {
    font-size: 16px;
    font-style: italic;
    padding-left: 13px;
}

.postitle {
    color:chartreuse;
    font-style: initial;
}

img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.cat {
    width: 200px;
    height: 200px;
    
}